/JAVA-EE/nbproject/private/
/JAVA-EE/build/
/JAVA-EE/JAVA-EE-war/nbproject/private/
/JAVA-EE/JAVA-EE-ejb/nbproject/private/
/JAVA-EE/JAVA-EE-ejb/dist/
/JAVA-EE/JAVA-EE-ejb/build/
/JAVA-EE/JAVA-EE-war/build/
/JAVA-EE/JAVA-EE-war/dist/
/JAVA-EE/dist/
/JEE/nbproject/private/
/JEE/JEE-war/nbproject/private/
/JEE/JEE-ejb/nbproject/private/
/JEE/JEE-ejb/build/
/JEE/JEE-ejb/dist/
/JEE/JEE-war/build/
/JEE/build/
/JEE/JEE-war/dist/
/JEE/dist/
/JavaEE/nbproject/private/
/JavaEE/build/
/JavaEE/dist/
/JavaEE/JavaEE-ejb/dist/
/JavaEE/JavaEE-ejb/nbproject/private/
/JavaEE/JavaEE-war/nbproject/private/
/JavaEE/JavaEE-war/build/
/JavaEE/JavaEE-war/dist/
/JavaEE/JavaEE-ejb/build/